@use "../abstracts/variables" as *;
@use "../custom" as *;
@use "../abstracts/colors" as *;

header .nav-link  {
    text-transform: uppercase;
    color: $dark;
    font-weight: 500;
    margin-left: 30px;
    font-size: 14px;
    &:hover {
        color: $secondary;
    }
}

.offcanvas {
    width: 100%;
    background-color: $blue-primary;
    opacity: .9;
}


.offcanvas-social li {
    border-top: none !important;
}

.header-hero {
    margin-top: 120px;
    padding-left: 32px;
    padding-right: 32px;
    &_image {
        position: relative;
    }
    &_layer {
        width: 1000px;
        height: 80%;
        background-color: $primary;
        position: absolute;
        top: 20%;
        left: 30%;
        z-index: -1;
    }
}


