body {
    font-family: 'Montserrat', sans-serif;
 
    // max-width: 1200px;
    // margin: 0 auto;
}

@media only screen and (min-width: 992px) {
    body {
        padding-left: 120px;
        padding-right: 120px; 
    }
}

// @media only screen and (min-width: 480px) {
//     body {
//         main .contact {
//             padding-left: 0;
//             padding-right: 0;
//         }
//     }
// }

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

